@import './styles/base.css';
@import './styles/reset.css';
@import './styles/utilities.css';
@import './styles/error.css';
@import './styles/navbar.css';
@import './styles/buttons.css';
@import './styles/polls.css';
@import './styles/form.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
