.form {
  background-color: var(--blue);
  border-radius: .4rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 60%;
}

.form-input {
  border: 1px solid var(--light);
  border-radius: .4rem;
  box-sizing: border-box;
  font-size: 1rem;
  margin: .5rem 0;
  outline: none;
  padding: .5rem 1rem;
  width: 100%;
}

.form-label {
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
}
