.navbar {
  background-color: var(--blue);
  padding: 1rem 0;
}

.navbar-brand {
  background-color: var(--light);
  border-radius: .5rem;
  color: var(--blue);
  font-weight: bold;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-item {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.navbar-user {
  color: var(--light);
  margin-top: .5rem;
  text-align: right;
}
